@media only screen 
  and (min-width: 320px)
  and (max-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body {
      font: 8px "Lucida Grande", Helvetica, Arial, sans-serif;
      background-color: aqua;
    }

}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

